.home {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.home__row {
    display: flex;
    /* margin-left: 15px;
    margin-right: 15px; */
    z-index: 1;
    width: 100%;

}
.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;


}