.recomendationCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    padding: 20px;
    background-color: white;
    z-index: 1;
    width: 100%;
}

.recomendationCard__icon__name{
    display: flex;   
}

.recomendationCard__icon__name > img{
    margin: 10px
}

.recomendationCard__icon__name > h3{
    margin: 10px;
    font-size: 24px
}

.recomendationCard__recomendations{
    font-size: 14px;
    font-weight: 800;
    margin-left: 6px;
}
.recomendationCard__products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recomendationCard__products > div {
    padding: 8px;
    margin: 4px;
    /* background-color: #f3fafb; */
}
.recomendationCard__products > div > p {
    margin: 0px;
    width: 100px;
    margin-left: auto;
}